---
import { recentArticleCardClasses } from "../constants";
import { cache } from "../services/cache";

const recentArticlesAtBuildTime = cache.getRecentArticles().map((article) => ({
	...article,
	summary: `${article.summary
		?.replace(/<[^>]*>/g, "")
		.split(/\s+/)
		.slice(0, 20)
		.join(" ")}…`,
}));
---

<script>
	import { recentArticleCardClasses } from "../constants";
	import type { ReadablePage } from "../types";

	async function insertRecentArticles() {
		try {
			const response = await fetch("/api/articles/recent");
			const { articles }: { articles: ReadablePage[] } = await response.json();
			const recentArticles = document.getElementById("recent-articles");
			if (!recentArticles) {
				return;
			}
			recentArticles.innerHTML = "";
			articles.forEach((article) => {
				const li = document.createElement("li");
				li.className = recentArticleCardClasses;
				li.innerHTML = `
					<a class="" href="/${article.url}">
						<h3 class="font-transitional">${article.title}</h3>
						<p class="text-xs my-1 truncate">${new URL(article.url).hostname}</p>
						<p class="text-xs">${article.summary}</p>
					</a>
				`;
				recentArticles.appendChild(li);
			});
		} catch (error) {
			console.error("Failed to get recent articles", error);
		}
	}
	document.addEventListener("astro:page-load", async () => {
		await Promise.allSettled([insertRecentArticles()]);
	});
</script>
<section>
	<h2 class="text-lg font-transitional mb-2">What people are reading.</h2>
	<ol
		id="recent-articles"
		class="flex flex-column lg:flex-row flex-wrap gap-2 justify-between"
	>
		{
			recentArticlesAtBuildTime.map((article) => (
				<li class={recentArticleCardClasses}>
					<a href={`/${article.url}`}>
						<h3 class="font-transitional">{article.title}</h3>
						<p class="text-xs my-1 truncate">{new URL(article.url).hostname}</p>
						<p class="text-xs">{article.summary}</p>
					</a>
				</li>
			))
		}
	</ol>
</section>
